{# web/app/themes/localdy/views/pages/homepage.twig #}
{% extends "layouts/base.twig" %}

{% block content %}
    {# <pre>{{ dump(post.meta) }}</pre> #}


    <section class="homepage">
        {# TO DO - Rajouter un menu en header avc les différentes options
        du menu ici puis click scroll back #}

        {# Heading - Image & Main Title #}
        <div class="homepage__heading">

            <div class="homepage__heading__title">
                <h1>{{ post.meta.main_title }}</h1>
            </div>

            <div class="homepage__heading__img">
                {% set id = post.meta('header_image') %}
                {% if id %}<img src="{{ fn('wp_get_attachment_image_url', id, 'full') }}">{% endif %}
            </div>

            <div class="homepage__heading__btn">
                {# TO DO - Linker à l'ACF #}
                <a href="" data-scroll="contact">Nous contacter</a>
            </div>
        </div>

        {# Presentation - Content #}

        {# Rajouter des éléments ici pour développer les onglets de content #}
        <div class="homepage__presentation">
            <div class="homepage__presentation__content">
                {{ fn('wpautop', post.meta('content'))|raw }}
            </div>
        </div>

        {# Location - Map #}
        <div class="homepage__location">

            <div class="homepage__location__title">
                <h3>Localisez-nous !</h3>
            </div>

            <div class="homepage__location__map">
                {{ fn('do_shortcode', '[wpgmza id="1"]') }}
            </div>

            <div class="homepage__location__content">
                Test content map ici
                {# Copie des éléments pour récupere acf en wysiwgy #}
                {# {{ fn('wpautop', post.meta('content'))|raw }} #}
            </div>
        </div>

        {# Contact #}
        <div class="homepage__contact" id="contact">

            <div class="homepage__contact__title">
                <h2>{{post.meta('form_title')}}</h2>
            </div>

            <div class="homepage__contact__form">
                {{ fn('do_shortcode', '[wpforms id="37"]') }}
            </div>
        </div>
    </section>

{% endblock %}
