{# web/app/themes/localdy/views/pages/homepage.twig #}
{% extends "layouts/base.twig" %}



{% block content %}
    {# <pre>{{ dump(post.meta) }}</pre> #}


    <section class="homepage">

        {# Header - Image & Main Title #}
        <div class="homepage__header">

            <div class="homepage__header__title">
                <h1>{{ post.meta.title }}</h1>
            </div>

            <div class="homepage__header__img">
                {% set id = post.meta('header_image') %}
                {% if id %}<img src="{{ fn('wp_get_attachment_image_url', id, 'full') }}">{% endif %}
            </div>
        </div>

        {# Presentation - Content #}
        <div class="homepage__presentation">
            <p>{{ post.meta.content }}</p>
        </div>

        {# Location - Map #}
        <div class="homepage__location">
            <div class="homepage__location__map">
                {{ fn('do_shortcode', '[wpgmza id="1"]') }}
            </div>
        </div>

        {# Contact #}
        <div class="homepage__contact">
            <div class="homepage__contact__form">
                {{ fn('do_shortcode', '[wpforms id="37"]') }}
            </div>
        </div>
    </section>

{% endblock %}
