{# web/app/themes/localdy/views/pages/homepage.twig #}
{% extends "layouts/base.twig" %}



{% block content %}

    {# <pre>{{ dump(post.meta) }}</pre> #}

    <section class="homepage">
        <h2>{{ post.meta.title }}</h2>
        <h2></h2>

        {# <img
            class=""
            src="{{ post.meta.header_image.url }}"
            alt="{{ post.meta.title }}"
        /> #}

        {% set id = post.meta('header_image') %}
        {% if id %}<img src="{{ fn('wp_get_attachment_image_url', id, 'full') }}">{% endif %}

        <p>{{ post.meta.content }}</p>
    </section>

{% endblock %}
