{# web/app/themes/localdy/views/pages/homepage.twig #}
{% extends "layouts/base.twig" %}

{% block content %}
    {# <pre>{{ dump(post.meta) }}</pre> #}


    <section class="homepage">

        {# Heading - Image & Main Title #}
        <div class="homepage__heading">

            <div class="homepage__heading__title">
                <h1>{{ post.meta.main_title }}</h1>
            </div>

            <div class="homepage__heading__img">
                {% set id = post.meta('header_image') %}
                {% if id %}<img src="{{ fn('wp_get_attachment_image_url', id, 'full') }}">{% endif %}
            </div>

            <div class="homepage__heading__btn">
                {# TO DO - Linker à l'ACF #}
                <a href="" data-scroll="contact">Nous contacter</a>
            </div>
        </div>

        {# Presentation - Content #}

        <div class="homepage__presentation">
            <div class="homepage__presentation__content">

                {# First part #}
                <h2 class="homepage__presentation__content__title">{{post.meta('content_first_part_title')}}</h2>
                <div class="homepage__presentation__content__content">{{ fn('wpautop', post.meta('content_first_part_content'))|raw }}</div>


                {# Second part #}
                <h2 class="homepage__presentation__content__title">{{post.meta('content_second_part_title')}}</h2>
                <div class="homepage__presentation__content__content">{{ fn('wpautop', post.meta('content_second_part_content'))|raw }}</div>


                {# Third part #}
                <h2 class="homepage__presentation__content__title">{{post.meta('content_third_part_title')}}</h2>
                <div class="homepage__presentation__content__content">{{ fn('wpautop', post.meta('content_third_part_content'))|raw }}</div>


                {# Fourth part #}
                <h2 class="homepage__presentation__content__title">{{post.meta('content_fourth_part_title')}}</h2>
                <div class="homepage__presentation__content__content">{{ fn('wpautop', post.meta('content_fourth_part_content'))|raw }}</div>


                {# Fifth part #}
                <h2 class="homepage__presentation__content__title">{{post.meta('content_fifth_part_title')}}</h2>
                <div class="homepage__presentation__content__content">{{ fn('wpautop', post.meta('content_fifth_part_content'))|raw }}</div>

            </div>
        </div>

        {# Location - Map #}
        <div class="homepage__location" id="localisation">

            <div class="homepage__location__title">
                <h3>{{ post.meta("map_title") }}</h3>
            </div>

            <div class="homepage__location__map">
                {{ fn('do_shortcode', '[wpgmza id="1"]') }}
            </div>

            <div class="homepage__location__content">
                {{ fn('wpautop', post.meta('map_content'))|raw }}
            </div>
        </div>

        {# Contact #}
        <div class="homepage__contact" id="contact">

            <div class="homepage__contact__title">
                <h2>{{post.meta('form_title')}}</h2>
            </div>

            <div class="homepage__contact__form">
                {{ fn('do_shortcode', '[wpforms id="37"]') }}
            </div>
        </div>
    </section>

{% endblock %}
