<!doctype html>

{# web/app/themes/localdy/views/layouts/base.twig #}

<html {{ function('language_attributes') }}>
<head>
    <meta charset="{{ function('bloginfo','charset') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Font #}
    {# Rubik #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    {# Font #}

    {{ function('wp_head') }}
</head>

<body {{ function('body_class') }}>

    {# Header #}
    <header class="header">
        <div class="header__container">
            {% set l1 = post.meta('header_labels_label_1') %}
            {% if l1 %}<a href="#" data-scroll="label_1">{{ l1 }}</a>{% endif %}

            {% set l2 = post.meta('header_labels_label_2') %}
            {% if l2 %}<a href="#" data-scroll="label_2">{{ l2 }}</a>{% endif %}

            {% set l3 = post.meta('header_labels_label_3') %}
            {% if l3 %}<a href="#" data-scroll="label_3">{{ l3 }}</a>{% endif %}

            {% set l4 = post.meta('header_labels_label_4') %}
            {% if l4 %}<a href="#" data-scroll="label_4">{{ l4 }}</a>{% endif %}

            {% set l5 = post.meta('header_labels_label_5') %}
            {% if l5 %}<a href="#" data-scroll="label_5">{{ l5 }}</a>{% endif %}

            {% set l6 = post.meta('header_labels_label_6') %}
            {% if l6 %}<a href="#" data-scroll="label_6">{{ l6 }}</a>{% endif %}

            {% set l7 = post.meta('header_labels_label_7') %}
            {% if l7 %}<a href="#" data-scroll="label_7">{{ l7 }}</a>{% endif %}

            {% set l8 = post.meta('header_labels_label_8') %}
            {% if l8 %}<a href="#" data-scroll="label_8">{{ l8 }}</a>{% endif %}

            {% set l9 = post.meta('header_labels_label_9') %}
            {% if l9 %}<a href="#" data-scroll="contact">{{ l9 }}</a>{% endif %}
        </div>
    </header>

    {# Content #}
    <main id="main">
        {% block content %}{% endblock %}
    </main>

    {# Footer #}
    <footer class="footer">
        <small>&copy; {{ "now"|date("Y") }} — Local D&Y</small>
    </footer>

    {{ function('wp_footer') }}
</body>
</html>
