<!doctype html>

{# web/app/themes/localdy/views/layouts/base.twig #}

<html {{ function('language_attributes') }}>
<head>
    <meta charset="{{ function('bloginfo','charset') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Font #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    {# Font #}

    {{ function('wp_head') }}
</head>

<body {{ function('body_class') }}>

    {# Header #}
    <header class="header">
        <div class="header__container">
            <p>ici bouton de redirection vers</p>
            <p>ici bouton de redirection vers</p>
            <p>ici bouton de redirection vers</p>
            <p>Localisation</p>
            <p>Contact</p>
        </div>
    </header>

    {# Content #}
    <main id="main">
        {% block content %}{% endblock %}
    </main>

    {# Footer #}
    <footer class="footer">
        <small>&copy; {{ "now"|date("Y") }} — Local D&Y</small>
    </footer>

    {{ function('wp_footer') }}
</body>
</html>
