<!doctype html>

{# web/app/themes/localdy/views/layouts/base.twig #}

<html {{ function('language_attributes') }}>
<head>
    <meta charset="{{ function('bloginfo','charset') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Font #}
    {# Rubik #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    {# Font #}

    {{ function('wp_head') }}
</head>

<body {{ function('body_class') }}>

    {# Header #}
    <header class="header header--light">
        <div class="header__container">

        {# Labels 1 à 8 #}
        {% set labels = [
            { key: 'header_labels_label_1', scroll: 'label_1' },
            { key: 'header_labels_label_2', scroll: 'label_2' },
            { key: 'header_labels_label_3', scroll: 'label_3' },
            { key: 'header_labels_label_4', scroll: 'label_4' },
            { key: 'header_labels_label_5', scroll: 'label_5' },
            { key: 'header_labels_label_6', scroll: 'label_6' },
            { key: 'header_labels_label_7', scroll: 'label_7' },
            { key: 'header_labels_label_8', scroll: 'label_8' }
        ] %}

        {% for item in labels %}
            {% set label = post.meta(item.key) %}
            {% if label %}
                <a class="header__btn" href="#" data-scroll="{{ item.scroll }}">
                <span class="header__btn__top">{{ label }}</span>
                </a>
            {% endif %}
        {% endfor %}

        {# Dernier lien (contact) différent #}
        {% set contact_label = post.meta('header_labels_label_9') %}
            {% if contact_label %}
            <a class="header__btn header__btn--contact" href="#" data-scroll="contact">
                <span class="header__btn__top">{{ contact_label }}</span>
            </a>
        {% endif %}

        </div>
    </header>

    {# Content #}
    <main id="main">
        {% block content %}{% endblock %}
    </main>

    {# Footer #}
    <footer class="footer">
        <small>&copy; {{ "now"|date("Y") }} — Local D&Y</small>
    </footer>

    {{ function('wp_footer') }}
</body>
</html>
