<!doctype html>

{# web/app/themes/localdy/views/layouts/base.twig #}

<html {{ function('language_attributes') }}>
<head>
    <meta charset="{{ function('bloginfo','charset') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Font #}
    {# Rubik #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    {# Font #}

    {{ function('wp_head') }}
</head>

<body {{ function('body_class') }}>

    {# Header #}
    <header class="header">
        <div class="header__container">
            {% set l1 = post.meta('header_labels_label_1') %}
            {% if l1 %}
                <a class="header__link header__link--underline" href="#" data-scroll="label_1">
                    <span class="header__link__text">{{ l1 }}</span>
                </a>
            {% endif %}

            {% set l2 = post.meta('header_labels_label_2') %}
            {% if l2 %}
                <a class="header__link header__link--underline" href="#" data-scroll="label_2">
                    <span class="header__link__text">{{ l2 }}</span>
                </a>
            {% endif %}

            {% set l3 = post.meta('header_labels_label_3') %}
            {% if l3 %}
                <a class="header__link header__link--underline" href="#" data-scroll="label_3">
                    <span class="header__link__text">{{ l3 }}</span>
                </a>
            {% endif %}

            {% set l4 = post.meta('header_labels_label_4') %}
            {% if l4 %}
                <a class="header__link header__link--underline" href="#" data-scroll="label_4">
                    <span class="header__link__text">{{ l4 }}</span>
                </a>
            {% endif %}

            {% set l5 = post.meta('header_labels_label_5') %}
            {% if l5 %}
                <a class="header__link header__link--underline" href="#" data-scroll="label_5">
                    <span class="header__link__text">{{ l5 }}</span>
                </a>
            {% endif %}

            {% set l6 = post.meta('header_labels_label_6') %}
            {% if l6 %}
                <a class="header__link header__link--underline" href="#" data-scroll="label_6">
                    <span class="header__link__text">{{ l6 }}</span>
                </a>
            {% endif %}

            {% set l7 = post.meta('header_labels_label_7') %}
            {% if l7 %}
                <a class="header__link header__link--underline" href="#" data-scroll="label_7">
                    <span class="header__link__text">{{ l7 }}</span>
                </a>
            {% endif %}

            {% set l3 = post.meta('header_labels_label_3') %}
            {% if l3 %}
                <a class="header__link header__link--underline" href="#" data-scroll="label_3">
                    <span class="header__link__text">{{ l3 }}</span>
                </a>
            {% endif %}

            {% set l9 = post.meta('header_labels_label_9') %}
            {% if l9 %}
                <a class="header__link header__link--underline" href="#" data-scroll="contact">
                    <span class="header__link__text">{{ l9 }}</span>
                </a>
            {% endif %}
        </div>
    </header>

    {# Content #}
    <main id="main">
        {% block content %}{% endblock %}
    </main>

    {# Footer #}
    <footer class="footer">
        <small>&copy; {{ "now"|date("Y") }} — Local D&Y</small>
    </footer>

    {{ function('wp_footer') }}
</body>
</html>
