<!doctype html>

{# web/app/themes/localdy/views/layouts/base.twig #}

<html {{ function('language_attributes') }}>
<head>
    <meta charset="{{ function('bloginfo','charset') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Font #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    {# Font #}

    {{ function('wp_head') }}
</head>

<body {{ function('body_class') }}>

    {# Header #}
    <header class="header">
        <div class="header__container">
            <a href="" data-scroll="first_part">Acceuil</a>
            <a href="" data-scroll="second_part">Le laboratoire</a>
            <a href="" data-scroll="third_part">Equipements</a>
            <a href="" data-scroll="fourth_part">Tarifs & Réservation</a>
            <a href="" data-scroll="fifth_part">Le quartier</a>
            <a href="" data-scroll="sixth_part">Communauté & esprit du lieu</a>
            <a href="" data-scroll="seventh_part">FAQ</a>

            <a href="" data-scroll="localisation">Localisation</a>
            <a href="" data-scroll="contact">Contact</a>
        </div>
    </header>

    {# Content #}
    <main id="main">
        {% block content %}{% endblock %}
    </main>

    {# Footer #}
    <footer class="footer">
        <small>&copy; {{ "now"|date("Y") }} — Local D&Y</small>
    </footer>

    {{ function('wp_footer') }}
</body>
</html>
